

body{
	margin:0px;
	padding:0px;
}


#tableWrap{
	border:solid 0px black;
	display:inline-block;
	padding:10px;
}


table{
	border-collapse:separate;
	border-spacing:0px;
}

thead{
	background-color:#333;
	color:white;
}


th{
	margin:0px;
	padding:0px;
	width:130px;
	height:40px;
	border:solid 2px #C9C9C9;

}

.frozenThead{
	background-color:#333;
	color:white;
	position:fixed;
	top:0;
}

.tHead{
	background-color:#333;
	color:white;
}

#tTable{

}

#frozenTable{
	margin-top:40px;
}



