
p{
	margin:0px;
}
body{
	
	padding:0px;
	margin:0px;
	background-color:#5D5D5D;
	padding-top:150px;
	padding-bottom:150px;

}

.wrapper{
	width:980px;
	height:1386px;
	background-color:white;
	margin-left:auto;
	margin-right:auto;
	position:relative;
}

.container{
	
	padding-left: 44px;
	padding-right:44px;
}

header{
	position:relative;
	height:61px;
	margin-bottom:30px;

	border-bottom: 2px solid #938e8c;
}

.url{
	position:relative;
	background-color:#D55D5C;
	width:110px;
	height:61px;
}

.url p{
	position:absolute;
	bottom:0.25em;
	left:0.5em;
	font-size:12px;
	font-family:"SimHei";
	color:#ffffff;
	margin:0px;
}

.header-date{
	position:absolute;
	right:0.25em;
	bottom:0.25em;
}

.header-date p{
	margin:0px;
	font-size:12px;
	color:#d45d5c;
	font-family:"SimHei";
}

.layout-1{
	border:0px black solid;
	overflow:hidden;
	margin-bottom:50px;
}
.main-1{
	width:641px;
	height:500px;
	margin-right:40px;
	float:left;
	position:relative;

}

.main-1-img{
	margin-bottom:20px;
}
.color-block-left{
	background-color:darkgreen;
	width:191px;
	height:301px;
	position:absolute;
	left:0px;
	top:0px;
	opacity:0.5;
}

.color-block-right{
	background-color:red;
	width:191px;
	height:301px;
	position:absolute;
	right:0px;
	top:0px;
	opacity:0.5;
}



.article-1-main-1-left{
	
	width:14em;
	height:9em;
	margin-right:1.5em;
	float:left;
	color:#418c59;
	font-family:"Microsoft Yahei";
}

.article-1-main-1-mid{
	
	width:14em;
	height:9em;
	margin-right:1.5em;
	float:left;
	color:#d2994f;
	font-family:"Microsoft Yahei";
}

.article-1-main-1-right{
	
	width:8em;
	height:9em;
	float:left;
	color:#cc7680;
	font-family:"Microsoft Yahei";
}
.what{
	font-size:12px;
	color:#767777;
	line-height: 16px;
	position:absolute;
	bottom:0px;
}

.what span{
	font-size:12px;
	color:#cd4a48;
	font-family:"Microsoft Yahei";
	font-style:italic;
	line-height: 16px;
	opacity: 0.7;
}

.title{
	font-size:16px;
	font-weight:bold;
	text-decoration: underline;
	margin-bottom:0.5em;
}

.words{
	font-size:12px;
	color:#767777;
	line-height: 16px;
}
.sidebar{
	width:203px;
	height:301px;
	float:right;
	box-sizing:border-box;
	border-top:2px #cc8091 solid;
	overflow:hidden;
	position:relative;

}

.letters-big{
	font-size:24px;
	color:#000000;
	line-height:40px;
	font-family:"Microsoft Yahei";
	overflow:hidden;
	margin-top:10px;
	margin-bottom:10px;
}

.letters-big p:first-letter{
	font-size:30px;
}
.letters-big p{
	border-bottom:2px solid black;
	float:left;
	height:36px;
}


.letters-tiny{
	font-size:12px;
	color:#676767;
	font-family:"KaiTi";
	line-height:10px;
	clear:both;
}

.number{
	font-size:116px;
	color:#75b86b;
	font-style:italic;
	/*按照标注所得数字超出界限，因此设定负的magin-left*/
	margin-left:-20px;
	font-family:"Microsoft Yahei";
}

.number-letter{
	color:#cc8091;
	position:absolute;
	bottom:0px;
	font-family:"Microsoft Yahei";
}
.number-footer{
	font-size:55px;
	display:inline-block;
	
}
.number-footer p{
	line-height:0em;
}

.css-group{
	display:inline-block;
	line-height: 1em;
}
.css-footer{
	font-size:21px;

}
.css-tiny{
	font-size:12px;
}

.letters-big span{
	font-size:30px;

}
.layout-2{
	

	overflow: hidden;
	
}
.main-2{
	float:left;
	width:415px;
	height:613px;

}


.title-main-2-up{
	overflow:hidden;
	position:relative;
}
.the{
	font-size:72px;
	color:#f5e327;
	font-family:"SimHei";
	font-weight:bold;
	font-style:italic; 
	float:left;

}



.technologe-of-front{
	font-size:42px;
	color:#11456b;
	font-family:"SimHei";
	font-weight:bold;
	line-height:16px;

}

#TECHNOLOGE{
	position:absolute;
	bottom:22px;
	right:60px;
}

.title-main-2-down{
	clear:both;

	margin-bottom:20px;
}

.title-cn{
	font-size:33px;
	color:#11456b;
	font-family:"SimHei";
	font-weight:bold;
}

.line-main-2{
	width:415px;
	height:2px;
	background-color:#11456b;
	margin-top:10px;
}

.first-word-uppercase{
	font-size:70px;
	color:#f5e327;
	font-family:"Microsoft Yahei";
	float:left;
	margin-right:10px;
	margin-bottom:-10px;

}

.article-main-2{
	font-size:12px;
	color:#767777;
	font-family:"Simsun";
	line-height:16px;
	padding-top:12px;
}

.img-main-2{
	float:right;
}

.main-3{
	background-color:pink;
	float:right;
	width:458px;
	height:275px;
	margin-bottom:20px;
	position:relative;
	
}

.color-block-main-3{
	
	position:absolute;
	bottom:0px;
	width:459px;
	height:61px;
	padding-left: 40px;
}

.black-block-main-3{
	width:459px;
	height:61px;
	background-color:black;
	opacity:0.5;
	position:absolute;
	left:0px;
}

.block-wrapper-main-3{
	margin-top:13px;
	position:relative;

}

.line-main-3{
	width:3px;
	height:44px;
	background-color:#72b16a;
	float:left;
	position:relative;
	bottom:4px;
}

.FE-big{
	font-size:26px;
	color:#ffffff;
	font-family:"Microsoft Yahei";
	float:left;
	margin-left:15px;
}

.FE-tiny{
	font-size:12px;
	color:#72b16a;
	font-style:italic;
	font-family:"Microsoft Yahei";
	line-height:140%;
	float:left;
	position:relative;
	top:18px;
	margin-left:5px;

}
.main-4{
	background-color:#EEEED6;
	width:459px;
	height:318px;
	float:right;
	position:relative;
}

.up-main-4{
	padding-top:10px;
}
.piece{
	clear:both;
	margin-top:20px;
	margin-left:30px;
}
.triangle{
	color:darkblue;
	display: inline-block;
	font-size:10px;
	margin-top:5px;
}

.FE-FE-big{
	font-size:16px;
	color:#5a5b5b;
	font-family:"Simsun";
	line-height: 20px;
	display: inline-block;
	margin-left:4px;
}

.FE-FE-tiny{
	font-size:12px;
	color:#5a5b5b;
	font-family:"Simsun";
	font-style:italic;
}
.down-main-4{
	
	width:459px;
	height:160px;
	position:absolute;
	bottom:0px;

}
.red-block-main-4{
	width:260px;
	height:160px;
	background-color:#D55D5C;
	float:left;
	
}
.container-block-main-4{
	width:250px;
	height:140px;
	position:absolute;
	top:0px;
	left:5px;

}

.zero-main-4{
	font-size:110px;
	color:#ffffff;
	display:inline-block;
}
.zero-main-4 p{
	margin:0px;
	padding:0px;
}
.line-main-4{
	width:2px;
	height:86px;
	background-color:#ffffff;
	display:inline-block;
	position:relative;
	top:2px;
}
.words-container-main-4{
	display: inline-block;
	color:black;
	position:relative;
	bottom:8px;
	left:5px;
	
}
.uppercase-words{
	font-size:21px;
	color:#ffffff;
	font-family:"SimHei";
	font-style:italic;
	line-height:24px;
	margin-bottom:5px;
}

.lowercase-words{
	font-size:12px;
	color:#ffffff;
	font-family:"SimHei";
	line-height:12px;
}
.wrapper-hello-world-main-4{
	width:199px;
	height:160px;
	float:right;
}
.hello-world{
	position: relative;
	padding:0px 10px 0px 10px;
}
.hello-world p{
	font-size:14px;
	color:#5a5b5b;
	font-family:"SimHei";
	font-style: italic;
	line-height:16px;
}

.quote{
	font-size:72px;
	color:#d45d5c;
	font-family:"SimHei";
	font-style:normal;
}

#quote-1{
	position:relative;
	top:35px;
	left:-40px;
}
#quote-2{
	position:absolute;
	bottom:-30px;
	right:-20px;
}
footer{
	
	height:61px;
	margin-top:69px;
	box-sizing:border-box;
	border-top:1px solid #938e8c;
}
.url-down{
	font-size:12px;
	color:#d45d5c;
	font-family:"SimHei";
	float:right;
}